@import '~normalize.css/normalize.css';
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import './app/custom-material/custom-theme.scss';

@include angular-material-theme($theme);

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}