<mat-card class="tweet-card">
  <mat-card-header>
    <div mat-card-avatar class="tweet-card__placeholder tweet-card__placeholder-icon"></div>
    <div class="tweet-card__placeholder-title-group">
      <div class="tweet-card__placeholder tweet-card__placeholder-title placeholder-wd--sm"></div>
      <div class="tweet-card__placeholder tweet-card__placeholder-title placeholder-wd--md"></div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="tweet-card__placeholder tweet-card__placeholder-text placeholder-wd"></div>
  </mat-card-content>
</mat-card>